@charset "UTF-8";
* {
    background-color: black;
}
/* CSS Document */
#clan-title {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(184, 73, 0, 0.808);
    font-size: 2em;
    background-color: rgba(253, 58, 10, 0.651);
}

p {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(189, 39, 1, 0.596);
    font-size: 1.5em;
}

.menu {
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(189, 39, 1, 0.596);
    font-size: 1.5em;
    border: 2px solid rgba(189, 39, 1, 0.596);
    width: 12%;
}

/* interação ao passar o mouse */
.menu:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(253, 58, 10, 0.651);
    border: 2px solid rgb(255, 0, 0);
    width: 12%;

}
.menu:active {
    color: rgb(238, 255, 0);
    background-color: rgba(253, 58, 10, 0.651);
    border: 2px solid rgb(251, 255, 0);
    width: 12%;
}
a {
    text-decoration: none;
    color: rgba(189, 39, 1, 0.596);
    border: 2px solid rgba(189, 39, 1, 0.596);
    text-align: center;
}
/* interação com clique */
a:active {
    color: rgb(238, 255, 0);
    background-color: rgba(253, 58, 10, 0.651);
    border: 2px solid rgb(251, 255, 0);
}
/* interação ao passar o mouse */
a:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(253, 58, 10, 0.651);
    border: 2px solid rgb(255, 0, 0);
    width: 12%;
}

.bem-vindo {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(189, 39, 1, 0.596);
    font-size: 1.5em;
    border: 2px solid rgba(189, 39, 1, 0.596);
    width: 100%;
}

.dia {
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(189, 39, 1, 0.596);
    font-size: 1.5em;
    border: 2px solid rgba(189, 39, 1, 0.596);
    width: 90%;
    font-size: 50px;

}